.question-form
    font-size 14px
    table
        width 100%
        th
            width 150px
            padding 10px 20px 10px 0
            text-align right
            border-bottom 1px solid #DDD
            background url(/images/bg.png)
        td
            padding 10px 20px
            border-bottom 1px solid #DDD
        textarea
            width 600px
            height 180px
            border 1px solid #CCC
            padding 5px
            color #404040
        .ta-remark
            height 80px
        .btn
            width 100px
            display inline-block
            margin-right 10px
        .td-item
            display inline-block
            margin-right 20px
