extends layout
block head
    link(rel="stylesheet", href="/assets/review/css/base.css")
block body
    div.admin
        ul
            li
                a(href="/question") 题库
            li
                a(href="/tests") 阅卷
