extends layout
block head
    script(src="/assets/review/js/base.js")
block body
    div.email
        pre
            | <!doctype html>
            | <html>
            |   <head>
            |       <title>I Want You!</title>
            |   </head>
            | </html>
            | <body>
            |   <form method="post">
            |       <input type="email" name="email" value="
            input#J_Email(name="email",type="email",required,value="#{email}")
            | ">
