extends layout
block head
    link(type="text/css", rel="stylesheet", href="/global/css/global.css")
    link(type="text/css", rel="stylesheet", href="/assets/quiz/css/style.css")
    script(type="text/javascript", src="/assets/quiz/js/list.js")
block body
    div.box
        div.side
            header
                h1 Quiz
            section.btns
                a.btn.btn-blue(href="/question") 返回题库
            //section.tags.online
                h1 分类
                ul
                    li
                        a.label(data-type="category", data-tag="online", href="#nogo") 在线答题
                    li
                        a.label(data-type="category", data-tag="print", href="#nogo") 打印
        div.main
            div.list
                table.quizs
                    thead
                        tr
                            th 创建时间
                            th 创建者
                            th 面试者
                            th 难度
                            th 时长(min)
                            th(width="120")
                    tbody#J_List
                        tr
            script#J_Template(type="javascript/template")
                {{#each quizs}}
                tr.quiz
                    td {{created}}
                    td {{authorNick}}
                    td {{email}}
                    td P{{level}}
                    td {{time}}{{#if email}}(<a target="_blank" href="/marking/{{_id}}">{{#if finished}}已完成{{else}}进行中{{/if}}</a>){{/if}}
                    td
                        a(class="btn-s btn-s-blue", href="/quiz/{{_id}}") 查看
                        a(class="btn-s btn-s-green btn-send", href="/io/email/{{_id}}", data-i="{{_id}}") 发送
                {{/each}}
