extends layout
block head
    link(type="text/css", rel="stylesheet", href="/global/css/global.css")
    link(type="text/css", rel="stylesheet", href="/question/css/style.css")
    link(type="text/css", rel="stylesheet", href="/question/css/create.css")
    script(type="text/javascript", src="/question/js/create.js")
block body
    form.question-form#J_QuestionCreateForm
        table
            tr
                th
                    label(for="J_Content") 题目
                td
                    textarea#J_Content(name="content").
            tr
                th
                    label 类型
                td
                    span.td-item
                        input#J_Type1(name="type", type="radio", value="1")
                        label(for="J_Type1") 选择题
                    span.td-item
                        input#J_Type2(name="type", type="radio", value="2")
                        label(for="J_Type2") 编码题目
                    span.td-item
                        input#J_Type3(name="type", type="radio", value="0")
                        label(for="J_Type3") 其他
            tr
                th
                    label 知识点
                td
                    span.td-item
                        input#J_SkillHTML(name="skill", type="checkbox", value="html")
                        label(for="J_SkillHTML") HTML
                    span.td-item
                        input#J_SkillCSS(name="skill", type="checkbox", value="css")
                        label(for="J_SkillCSS") CSS
                    span.td-item
                        input#J_SkillJavaScript(name="skill", type="checkbox", value="javascript")
                        label(for="J_SkillJavaScript") JavaScript
            tr
                th
                    label 难度
                td
                    span.td-item
                        input#J_Level4(name="level", type="radio", value="4")
                        label(for="J_Level4") P4
                    span.td-item
                        input#J_Level5(name="level", type="radio", value="5")
                        label(for="J_Level5") P5
                    span.td-item
                        input#J_Level6(name="level", type="radio", value="6")
                        label(for="J_Level6") P6
                    span.td-item
                        input#J_Level7(name="level", type="radio", value="7")
                        label(for="J_Level7") P7
                    span.td-item
                        input#J_Level8(name="level", type="radio", value="8")
                        label(for="J_Level8") P8
            tr
                th
                    label(for="J_Time") 耗时
                td
                    input#J_Time(type="text", placeholder="5", name="time")
                    | 分钟
            tr
                th
                    label(for="J_Remark") 答案分析
                td
                    textarea.ta-remark#J_Remark(name="remark").
            tr
                th
                    label(for="J_Author") 出题人
                td
                    input.i-text#J_Author(type="text", name="author")
            tr
                th
                td
                    button.btn.btn-blue(type="submit") 添加
