extends layout
block head
    link(type="text/css", rel="stylesheet", href="/global/css/global.css")
    link(type="text/css", rel="stylesheet", href="/question/css/style.css")
    link(type="text/css", rel="stylesheet", href="/question/css/quiz.css")
block body
    div.box
        - var qindex = 0;
        for quiz in quizs
            - qindex ++
            div.quiz
                span.quiz-index #{qindex}.
                pre !{quiz.content}
