extends layout
block head
    link(type="text/css", rel="stylesheet", href="/global/css/global.css")
    link(type="text/css", rel="stylesheet", href="/assets/quiz/css/quiz.css")
block body
    div.box
        - var index = 0;
        for q in questions
            - index ++
            div.question
                span.question-index #{index}.
                pre !{q.content}
                - if (q.answer)
                    pre.answer #{q.answer}
