body
    background #FFF
    .page
        padding 40px
        .quiz
            margin 10px 0
            padding 20px 0 100px 24px
            border-bottom 1px solid #CCC
            position relative
            pre
                font normal 14px/1.6 courier new, courier, monospace
            .quiz-index
                font-size 14px
                absolute left 0 top 20px
                line-height 1.6
