html, body, .page, .body
    height auto
body
    background #FFF
    .page
        padding 40px
        .question
            margin 10px 0
            padding 20px 0 100px 24px
            border-bottom 1px solid #CCC
            position relative
            pre
                font normal 14px/1.6 courier new, courier, monospace
            .question-index
                font-size 14px
                absolute left 0 top 20px
                line-height 1.6
        .question:last-child
            border-bottom none
    .box
        height auto
        padding-bottom 50px
    .bar
        position fixed
        width 100%
        height 40px
        line-height 40px
        color #FFF
        font-size 14px
        text-align center
        background #000
        opacity .8
        left 0
        bottom 0
        .meta
            display inline-block
            span
                margin 0 10px
        .btn-s
            font-size 14px
            padding 5px 10px
            margin 0 5px
            color #FFF
            text-decoration none
            background #FFF
            border-radius 50px
            i
                margin-right 3px
        .btn-s-blue
            background #3498db
        .btn-s-blue:hover
            background #3498db
        .btn-s-green
            background #1abc9c
        .btn-s-green:hover
            background #1abc9c
        .btn-s-gray
            color #333
            background #CCC
        .btn-s-gray:hover
            background #CCC
