.side
    .tags
        li
            display inline-block
            padding 5px 0
            color #666
            text-shadow 1px 1px 2px #FFF
            a
                display inline-block
                height 20px
                color #333
                margin 0 3px 0 0
                padding 0 10px
                text-decoration none
                vertical-align middle
                background #DDD
                border-radius 10px
                box-shadow inset -1px -1px 1px #AAA
                cursor pointer
            a:hover
                background #FFF
            a.active
            a:active
                padding 2px 9px 0 11px
                height 18px
                background #FFF
                box-shadow inset 1px 1px 1px #999
.list
    padding 40px

.quizs
    width 100%
    font-size 14px
    color #404040
    thead
        th
            font-weight normal
            padding 5px
            background #F1F1F1
            border-bottom 1px solid #E5E5E5
            text-align left
    tbody
        td
            padding 5px
            border-bottom 1px dotted #EEE
    tr:hover
        background #FFFECE
    a
        color #3498db
        text-decoration none
    .btn-s
        font-size 12px
        padding 3px 8px
        margin 0 3px
        color #FFF
        text-decoration none
        background #FFF
        border-radius 50px
        opacity .75
        i
            margin-right 3px
    .btn-s-blue
        background #3498db
    .btn-s-blue:hover
        opacity 1
    .btn-s-green
        background #1abc9c
    .btn-s-green:hover
        opacity 1
